.carousels > div {
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap:10px;
    background-color: darkslateblue;
    

}

.carousels {
    margin:auto;
    margin-top: 20%;
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;

}
