.center {
    width:30%;
    background-color: #fff;
    margin:auto;
    height:30px;
    border-radius: 40px;
    margin-top: 8%;
}

.center > input {
border: none;
width:80%;
outline: none;
font-size: 20px;
margin-top: 5px;
border-radius: 10px;

}


.bar {
    background: url(https://media.istockphoto.com/vectors/icon-search-logo-design-universal-business-social-media-vector-id995577016?k=20&m=995577016&s=170667a&w=0&h=_kwoYxk1Hu551vgDt4sSBOLtICXGe2Ze0xl_kXlqZkI=) no-repeat;
    background-size:20px;
    
    margin-left: 10%;
}

